<div class="form-actions form-group" style="margin-top: 20px; {{#if inline}}float: left; margin: 10px 10px; margin-left: 0;{{/if}}">
    <button  id="{{id}}"  onClick=""; this.disabled=true;" type="submit" class="btn btn-{{#if type}}{{type}}{{else}}success{{/if}} btn-md">{{#if value}}{{value}}{{else}}Submit{{/if}}</button>
</div>